
html, body {
  margin: 0;
  padding: 0;
}
body {
  background: #111;
  color: #f5f5f5;
  overflow: hidden;
  height: 100vh;
}

h1 {
  font-family: 'Inconsolata';
  font-size: 15rem;
  margin: 0;
}

p {
  font-size: 4rem;
}
