html, body {
  margin: 0;
  padding: 0;
}

body {
  color: #f5f5f5;
	background: #001724;
  background: -webkit-linear-gradient(0deg, #00301E, #001724);
  background: -o-linear-gradient(0deg, #00301E, #001724);
  background: -moz-linear-gradient(0deg, #00301E, #001724);
  background: linear-gradient(0deg, #00261B, #001724);
}

h1 {
  font-family: "Inconsolata", monospace;
  font-size: 200px;
  margin: 0;
}
