body {
	margin: 0;
	padding: 0;
	height: 100%;
	color: #f5f5f5;
	background: #001724;
	background-image: -webkit-linear-gradient(45deg, #00301E, #001724);
	background-image: -o-linear-gradient(45deg, #00301E, #001724);
	background-image: -moz-linear-gradient(45deg, #00301E, #001724);
	background-image: linear-gradient(45deg, #00572e, #003757);
	background-attachment: fixed;
}

.container {
	max-width: 700px;
}

::selection {
	color: #111111;
	background-color: #f5f5f5;
}

#hero {
	display: flex;
	min-height: 100vh;
	width: 100%;
	text-align: center;
}

.subhead {
	margin-bottom: 0;
	font-family: "Gilroy-Light", sans-serif;
	font-size: 7rem;
}

.head {
	font-family: "Gilroy-Bold", sans-serif;
	font-size: 10rem;
}

/* About */
#about {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	opacity: 0;
}

#about .container:hover p {
	color: rgba(245, 245, 245, 0.3);
}

#about .container:hover p span.keyword {
	color: #f5f5f5;
}

#about .container p {
	color: #f5f5f5;
	font-family: "Hans Kendrick", sans-serif;
	font-size: 4rem;
	transition: color .5s ease;
}

#about .container p:first-of-type {
	margin-bottom: 4rem;
}

.keyword {
	transition: color .5s ease;
}

/* Projects */
#projects {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	opacity: 0;
}

.project {
	margin-top: 7rem;
	margin-bottom: 7rem;
	color: #f5f5f5;
	font-family: "Hans Kendrick", sans-serif;
}

.project-title {
	color: #f5f5f5;
	font-size: 4rem;
	border-bottom: 2px solid #f5f5f5;
	text-decoration: none;
	transition: color .2s ease, border .2s ease;
}

.project p {
	font-size: 4rem;
}

.colicious .project-title:hover {
	color: #E43956;
	border-bottom: 2px solid #E43956;
}

.moon .project-title:hover {
	color: #820ad5;
	border-bottom: 2px solid #820ad5;
}

.slash .project-title:hover {
	color: #FF8159;
	border-bottom: 2px solid #FF8159;
}

.wade .project-title:hover {
	color: #50FFDF;
	border-bottom: 2px solid #50FFDF;
}

.wing .project-title:hover {
	color: #3A44B9;
	border-bottom: 2px solid #3A44B9;
}

/* Social */
#social {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	opacity: 0;
}

#social .container p {
	font-size: 4rem;
	font-family: "Hans Kendrick", sans-serif;
}

#social .container p:first-of-type {
	margin-bottom: 4rem;
}

#social .container a {
	color: #f5f5f5;
	border-bottom: 2px solid #f5f5f5;
	text-decoration: none;
	transition: color .2s ease, border .2s ease;
}

#social .container a:hover {
	color: #666666;
	border-bottom: 2px solid #666666;
}

/* Logo */
#logo {
	position: absolute;
	left: 7%;
	top: 7%;
}

@keyframes fadeIn {
  from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeIn {
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-delay: 0.1s;
	animation-fill-mode: forwards;
}

@media screen and (max-width: 768px) {
	.head {
		font-size: 6.5rem;
	}

	.subhead {
		font-size: 4.5rem;
	}

	#about .container p, .project, #projects .container .project-title, #projects .container p, #social .container p {
		font-size: 35px;
	}
}

@media screen and (max-width: 500px) {
	.head {
		font-size: 5rem;
	}

	.subhead {
		font-size: 3rem;
	}

	#about .container p, .project, #projects .container .project-title, #projects .container p, #social .container p {
		font-size: 30px;
	}
}
