html {
	font-family: "Inter-Regular", "Helvetica", "Arial";
}

#logo {
	height: 1.5em;
	vertical-align: bottom;
}

.theme-light {
	background: url("/img/background-light.png");
	color: hsl(0, 0%, 14%);
}

.theme-light a {
	color: hsl(0, 0%, 14%);
}

.theme-light :focus {
	outline-color: hsl(0, 0%, 86%);
}

.theme-dark {
	background-image: url("/img/background-dark.png"), linear-gradient(hsl(0, 0%, 14%), hsl(0, 0%, 14%));
	color: hsl(0, 0%, 100%);
}

.theme-dark a {
	color: hsl(0, 0%, 100%);
}

.theme-dark :focus {
	outline-color: hsl(0, 0%, 29%);
}

.theme-image {
	background-image: url("/img/background-dark.png"), url("/img/background-image.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	color: hsl(0, 0%, 100%);
}

.theme-image a {
	color: hsl(0, 0%, 100%);
}

.theme-image :focus {
	outline-color: hsl(0, 0%, 29%);
}

@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/Inter-Regular.otf") format("otf");
}
