<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="description" content="composer of functions" />
      <meta name="author" content="Kabir Shah" />

      <title>Kabir Shah</title>

      <link id="favicon" rel="shortcut icon" href="/images/favicon-dark.png" />
      <link rel="stylesheet" type="text/css" href="/css/index.css" />

      <script>
         (function (i, s, o, g, r, a, m) {
            i["GoogleAnalyticsObject"] = r;
            (i[r] =
               i[r] ||
               function () {
                  (i[r].q = i[r].q || []).push(arguments);
               }),
               (i[r].l = 1 * new Date());
            (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m);
         })(
            window,
            document,
            "script",
            "https://www.google-analytics.com/analytics.js",
            "ga"
         );

         ga("create", "UA-70792533-4", "auto");
         ga("send", "pageview");
      </script>
   </head>

   <body>
      <canvas id="canvas"></canvas>
      <div class="h-screen flex justify-center items-center">
         <div class="w-33 max-w-full p-10">
            <a href="/"
               ><img
                  class="w-full opacity-70"
                  src="/images/full-logo.svg"
                  alt="Logo"
            /></a>
            <p class="text-gray-100 opacity-50">
               I'm a high school senior in California studying computer science
               in our engineering academy. I teach students to code and host
               hackathons at <a href="https://cohack.co">Cohack</a>. I explore
               user interfaces and compiler theory with
               <a href="https://moonjs.org">Moon</a>.
            </p>
            <div class="py-6 flex justify-between text-gray-100 opacity-50">
               <a href="/blog">blog</a>
               <a href="https://github.com/kbrsh">code</a>
               <a href="https://twitter.com/kbrshah">thoughts</a>
               <a href="mailto:kabir@kabir.sh">kabir@kabir.sh</a>
            </div>
         </div>
      </div>
      <script type="text/javascript" src="/js/lib/three.min.js"></script>
      <script
         type="x-shader/x-fragment"
         id="shader-gradient"
         src="/shaders/gradient.frag"
      ></script>
      <script type="text/javascript" src="/js/index.js"></script>
   </body>
</html>
