@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --grain-scale: 1;
}

@media (min-width: 512px) {
   :root {
      --grain-scale: calc(9 / 7);
   }
}

html {
   font-family: "Inter", "Helvetica", "Arial";
   -webkit-font-smoothing: antialiased;
   background: url("/images/noise.png") no-repeat center center fixed;
   background-size: cover;
   background-blend-mode: overlay;
   @apply text-5;
}

a {
   @apply underline;
}

#canvas {
   position: fixed;
   z-index: -1;
   width: 100%;
   height: 100%;
   top: -200px;
   left: -200px;
   @apply opacity-70;
}

:focus {
   outline-color: hsl(0, 0%, 86%);
}

@font-face {
   font-family: "Inter";
   font-style: normal;
   font-weight: 400;
   src: url("/fonts/Inter-Regular.otf") format("opentype");
}
