/* === Footer === */
footer {
  margin: 50px;
}

#footer-link {
  text-decoration: none;
  color: #111111;
}

#footer-made, #footer-name, #footer-logo {
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

#footer-name {
  font-weight: 700;
}

#footer-logo {
  height: 25px;
  width: 25px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
}
