@font-face {
  font-family: 'Gilroy-Bold';
  font-style: normal;
  src: local('Gilroy-ExtraBold'), url(./Gilroy-ExtraBold.otf) format('opentype');
}

@font-face {
  font-family: 'Gilroy-Light';
  font-style: normal;
  src: local('Gilroy-Light'), url(./Gilroy-Light.otf) format('opentype');
}


@font-face {
  font-family: 'Lato';
  font-style: normal;
  src: local('Lato-Thin'), url(./Lato-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'LatoLight';
  font-style: normal;
  src: local('Lato-Light'), url(./Lato-Light.ttf) format('truetype');
}
