@font-face {
  font-family: "Gilroy-Bold";
  font-style: normal;
  src: local("Gilroy-ExtraBold"), url("./Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "Gilroy-Light";
  font-style: normal;
  src: local("Gilroy-Light"), url("./Gilroy-Light.otf") format("opentype");
}


@font-face {
  font-family: "Hans Kendrick";
  font-style: normal;
  src: local("Hans Kendrick 3"), url("./HansKendrick-Regular.otf") format("opentype");
}
