html {
	font-family: "Inter", "Helvetica", "Arial";
}

code {
	font-family: "Inconsolata", monospace;
	font-size: calc(15px * var(--grain-scale));
}

#logo {
	height: 1.5em;
	vertical-align: bottom;
}

.katex {
	font-size: calc(15px * var(--grain-scale));
}

.katex-display {
	width: calc(351px * var(--grain-scale));
}

/* Light Theme */
.theme-light {
	background-color: hsl(0, 0%, 100%);
	background-image: url("/images/noise.png");
	background-blend-mode: overlay;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	color: hsl(0, 0%, 14%);
}

.theme-light a {
	color: hsl(0, 0%, 14%);
}

.theme-light :focus {
	outline-color: hsl(0, 0%, 86%);
}

.theme-light code {
	color: hsl(206, 14%, 43%);
}

.theme-light .token.string {
	color: hsl(103, 20%, 49%);
}

.theme-light .token.keyword {
	color: hsl(294, 20%, 49%);
}

.theme-light .token.number, .theme-light .token.boolean, .theme-light .token.attr-name {
	color: hsl(22, 29%, 49%);
}

.theme-light .token.function, .theme-light .token.tag {
	color: hsl(206, 31%, 55%);
}

.theme-light .token.attr-value {
	color: hsl(206, 31%, 55%);
}

.theme-light .token.comment {
	color: hsl(206, 14%, 57%);
}

/* Dark Theme */
.theme-dark {
	background-color: hsl(0, 0%, 14%);
	background-image: url("/images/noise.png");
	background-blend-mode: overlay;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	color: hsl(0, 0%, 100%);
}

.theme-dark a {
	color: hsl(0, 0%, 100%);
}

.theme-dark :focus {
	outline-color: hsl(0, 0%, 29%);
}

.theme-dark code {
	color: hsl(206, 14%, 71%);
}

.theme-dark .token.string {
	color: hsl(103, 14%, 55%);
}

.theme-dark .token.keyword {
	color: hsl(294, 14%, 55%);
}

.theme-dark .token.number, .theme-dark .token.boolean, .theme-dark .token.attr-name {
	color: hsl(22, 29%, 55%);
}

.theme-dark .token.function, .theme-dark .token.tag {
	color: hsl(206, 31%, 55%);
}

.theme-dark .token.attr-value {
	color: hsl(206, 31%, 55%);
}

.theme-dark .token.comment {
	color: hsl(206, 14%, 57%);
}

/* Topography Theme */
.theme-topography {
	background-color: transparent;
	background-image: url("/images/noise.png"), url("/images/topography-background.png");
	background-blend-mode: overlay;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	color: hsl(206, 0%, 100%);
}

.theme-topography a {
	color: hsl(206, 0%, 100%);
}

.theme-topography :focus {
	outline-color: hsl(206, 14%, 57%);
}

.theme-topography code {
	color: hsl(206, 14%, 71%);
}

.theme-topography .token.string {
	color: hsl(103, 14%, 55%);
}

.theme-topography .token.keyword {
	color: hsl(294, 14%, 55%);
}

.theme-topography .token.number, .theme-topography .token.boolean, .theme-topography .token.attr-name {
	color: hsl(22, 29%, 55%);
}

.theme-topography .token.function, .theme-topography .token.tag {
	color: hsl(206, 31%, 55%);
}

.theme-topography .token.attr-value {
	color: hsl(206, 31%, 55%);
}

.theme-topography .token.comment {
	color: hsl(206, 14%, 57%);
}

/* Image Theme */
.theme-image {
	background-color: transparent;
	background-image: url("/images/noise.png"), url("/images/image-background.jpg");
	background-blend-mode: overlay;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	color: hsl(206, 0%, 100%);
}

.theme-image a {
	color: hsl(206, 0%, 100%);
}

.theme-image :focus {
	outline-color: hsl(206, 14%, 57%);
}

.theme-image code {
	color: hsl(206, 14%, 71%);
}

.theme-image .token.string {
	color: hsl(103, 14%, 55%);
}

.theme-image .token.keyword {
	color: hsl(294, 14%, 55%);
}

.theme-image .token.number, .theme-image .token.boolean, .theme-image .token.attr-name {
	color: hsl(22, 29%, 55%);
}

.theme-image .token.function, .theme-image .token.tag {
	color: hsl(206, 31%, 55%);
}

.theme-image .token.attr-value {
	color: hsl(206, 31%, 55%);
}

.theme-image .token.comment {
	color: hsl(206, 14%, 57%);
}

@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/Inter-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/Inter-Bold.otf") format("opentype");
}

@font-face {
	font-family: "Inconsolata";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/Inconsolata-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Inconsolata";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/Inconsolata-Bold.ttf") format("truetype");
}
